#flex-container-music-box{
    display: flex;
    overflow-x: auto;
}

.flex-container-note-column{
    display: flex;
    flex-direction: column;
}

.note{
    display: flex;
    background: tomato;

    font-weight: bold;
    font-size: 1em;
    text-align: center;

    width: 150px;
    height: 50px;
}
