:root {
    --note-on-color: #54F2F2;
    --note-off-color: #042A2B;
}

body {
    overflow-x:hidden;
}

.container{
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#flex-container-music-box{
    display: flex;
    overflow-x: auto;

    grid-column-start: 2;

    grid-row-start: 1;
    grid-row-end: span 10;
    border-radius: 5px;
    border: 5px solid #0D1110;
}

.flex-container-note-column{
    display: flex;
    flex-direction: column;

    height: 100%;
}

.playhead{
    background: #042A2B;
    border-bottom: 1px solid #0D1110;
    height: 60px;
}

.note{
    display: flex;

    background: var(--note-off-color);

    /* miss bottom border so they don't double up */
    border-bottom: 0.5px solid #0D1110;
    border-right:  0.5px solid #0D1110;
    border-left:  0.5px solid #0D1110; 

    /* note names */
    font-weight: bold;
    font-size: 1em;
    color: #0D1110;

    width: 50px;
    height: 100%;

    /* dont allow user to highlight note names while dragging */
    user-select: none;
}

.note:hover{
    box-shadow: inset 0em 0em .5em #0D1110;
    cursor: pointer;
}

.note-on{
    background: white;
}